h1 {
  font-family: "futura-pt";
  width: 100%;
  top: 0;
  left: 0;
  padding: 0rem;
  font-size: 30pt;
  color: cornsilk;
  font-weight: 400;
  line-height: 1em;

}

h2 {text-align: center;
    padding: 2rem;
    font-family: "futura-pt";
    line-height: 0em;
}

h3 {text-align: center;
    padding: 1rem;
    font-family: "futura-pt";
    font-weight: 500;
}

p {text-align: center;
    font-family: "futura-pt";
   font-weight: 400;}

body {
    background-color:darksalmon;
    margin: 50;
   
    }

.special {
  background: #7ee2e7;
  color: #fff;
}

img {
  max-width: 100%;
  background-position: top;
  margin: 0px;	
}

.ad1 {
  grid-row: 1/ 2;
}

.ad2 {
    grid-row: 3/ 4;}

.ad3 {
    grid-row: 5 / 6;}

.ad4 {grid-row: 7 / 8;}

.section1 {color: crimson;
   font-family:"futura-pt";
    font-size: 13pt;
    
    
    
}


.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #fff;
  color: #444;
  margin: 2rem;
  border-radius: 10px;
}

.box {
  background-color:darkcyan;
  color:whitesmoke;
  border-radius: 10px;
  padding: 20px;
  font-size: 120%;
  text-align: center;

