h1 {
  font-family: "futura-pt";
  width: 100%;
  top: 0;
  left: 0;
  padding: 0rem;
  font-size: 40pt;
  color:white;
  font-weight: 400;
  line-height: 0em;

}

h2 {text-align: center;
    padding: 2rem;
    font-family: "futura-pt";
    line-height: 0em;
}

h3 {text-align: center;
    padding: 1rem;
    font-family: "futura-pt";
    font-weight: 500;
}

p {text-align: center;
    font-family: "futura-pt";
   font-weight: 400;}

body {
    background-color:darksalmon;
    margin: 50;
   
    }

.special {
  background: #7ee2e7;
  color: #fff;
}

img {
  max-width: 100%;
  background-position: top;
  margin: 0px;
  
	
}
.box {
  border: 2px white;
  padding: 4rem;
  font-size: 100%;}
